<p>
  <b>Mind:</b>
  <%=h @item_boni.mind %>
</p>

<p>
  <b>Body:</b>
  <%=h @item_boni.body %>
</p>

<p>
  <b>Agility:</b>
  <%=h @item_boni.agility %>
</p>

<p>
  <b>Charisma:</b>
  <%=h @item_boni.charisma %>
</p>

<p>
  <b>Psychic:</b>
  <%=h @item_boni.psychic %>
</p>

<p>
  <b>Chance to hit:</b>
  <%=h @item_boni.chance_to_hit %>
</p>

<p>
  <b>Chance to block:</b>
  <%=h @item_boni.chance_to_block %>
</p>

<p>
  <b>Chance to max damage:</b>
  <%=h @item_boni.chance_to_max_damage %>
</p>

<p>
  <b>Fire damage:</b>
  <%=h @item_boni.fire_damage %>
</p>

<p>
  <b>Chance magic:</b>
  <%=h @item_boni.chance_magic %>
</p>

<p>
  <b>Ice damage:</b>
  <%=h @item_boni.ice_damage %>
</p>

<p>
  <b>Fire resist:</b>
  <%=h @item_boni.fire_resist %>
</p>

<p>
  <b>Ice resist:</b>
  <%=h @item_boni.ice_resist %>
</p>

<p>
  <b>Drain life:</b>
  <%=h @item_boni.drain_life %>
</p>
<p>
  <b>Item Type:</b>
  <%=h @item_boni.item_type %>
</p>


<%= link_to 'Edit', edit_item_boni_path(@item_boni) %> |
<%= link_to 'Back', item_bonis_path %>
