<p>
  <b>Set:</b>
  <%=h @pc_char_dialog_set_to_user_char.set_id %>
</p>

<p>
  <b>Pc char:</b>
  <%=h @pc_char_dialog_set_to_user_char.pc_char %>
</p>

<p>
  <b>User char:</b>
  <%=h @pc_char_dialog_set_to_user_char.user_char %>
</p>


<%= link_to 'Edit', edit_pc_char_dialog_set_to_user_char_path(@pc_char_dialog_set_to_user_char) %> |
<%= link_to 'Back', pc_char_dialog_set_to_user_chars_path %>