<p>
  <b>Name:</b>
  <%= h @weapon.name %>
</p>

<p>
  <b>Range:</b>
  <%= h @weapon.range %>
</p>

<p>
  <b>Damage:</b>
  <%= h @weapon.damage %>
</p>

<p>
  <b>Level:</b>
  <%= h @weapon.level %>
</p>

<p>
  <b>Damage type:</b>
  <%= h @weapon.damage_type %>
</p>

<p>
  <b>Hit time:</b>
  <%= h @weapon.hit_time %>
</p>
<p>
  <b>worth:</b>
  <%= h @weapon.worth%>
</p>


<%= link_to 'Edit', edit_weapon_path(@weapon) %> |
<%= link_to 'Back', weapons_path %>
