<p>
  <b>Name:</b>
  <%= h @character.name %>
</p>

<p>
  <b>x:</b>
  <%= h @character.coordinates.x %>
</p>

<p>
  <b>y:</b>
  <%= h @character.coordinates.y %>
</p>

<p>
  <b>Gender:</b>
  <%= h @character.gender %>
</p>

<p>
  <b>Culture:</b>
  <%= h @character.culture %>
</p>

<p>
  <b>Concept:</b>
  <%= h @character.concept %>
</p>

<p>
  <b>Kult:</b>
  <%= h @character.kult %>
</p>

<p>
  <b>Max ability points:</b>
  <%= h @character.max_ability_points %>
</p>

<p>
  <b>Mind:</b>
  <%= h @character.mind %>
</p>

<p>
  <b>Agility:</b>
  <%= h @character.agility %>
</p>

<p>
  <b>Body:</b>
  <%= h @character.body %>
</p>

<p>
  <b>Charisma:</b>
  <%= h @character.charisma %>
</p>

<p>
  <b>Psychic:</b>
  <%= h @character.psychic %>
</p>

<p>
  <b>Luck:</b>
  <%= h @character.luck %>
</p>

<p>
  <b>Current life:</b>
  <%= h @character.current_life %>
</p>

<p>
  <b>Max life:</b>
  <%= h @character.max_life %>
</p>

<p>
  <b>Current mana:</b>
  <%= h @character.current_mana %>
</p>

<p>
  <b>Max mana:</b>
  <%= h @character.max_mana %>
</p>

<p>
  <b>Weapons:</b>
  <%= h @character.weapons %>
</p>

<p>
  <b>Armor:</b>
  <%= h @character.armor %>
</p>

<p>
  <b>Action points:</b>
  <%= h @character.action_points %>
</p>

<p>
  <b>Trauma:</b>
  <%= h @character.trauma %>
</p>

<p>
  <b>Poison health:</b>
  <%= h @character.poison_health %>
</p>

<p>
  <b>Mental health:</b>
  <%= h @character.mental_health %>
</p>

<p>
  <b>Culture:</b>
  <%= h @character.culture_id %>
</p>

<p>
  <b>Sub culture:</b>
  <%= h @character.sub_culture_id %>
</p>

<p>
  <b>Concept:</b>
  <%= h @character.concept_id %>
</p>

<p>
  <b>User:</b>
  <%= h @character.account_id %>
</p>

<p>
  <b>Current exp:</b>
  <%= h @character.current_exp %>
</p>

<p>
  <b>Next lev exp:</b>
  <%= h @character.next_lev_exp %>
</p>

<p>
  <b>Level:</b>
  <%= h @character.level %>
</p>

<p>
  <b>Chance to hit:</b>
  <%= h @character.chance_to_hit %>
</p>

<p>
  <b>Chance of max damage:</b>
  <%= h @character.chance_of_max_damage %>
</p>

<p>
  <b>Chance magic:</b>
  <%= h @character.chance_magic %>
</p>

<p>
  <b>Win:</b>
  <%= h @character.win %>
</p>

<p>
  <b>Lose:</b>
  <%= h @character.lose %>
</p>
<p>
  <b>char_type:</b>
  <%= h @character.char_type%>
</p>
<p>
  <b>gold:</b>
  <%= h @character.gold %>
</p>


<%= link_to 'Edit', edit_character_path(@character) %> |
<%= link_to 'Back', characters_path %>
