<h1>New armor</h1>

<% form_for(@armor) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :armor %><br />
    <%= f.text_field :armor %>
  </p>
  <p>
    <%= f.label :armor_type %><br />
    <%= f.text_field :armor_type %>
  </p>
     <p>
    <%= f.label :worth%><br />
    <%= f.text_field :worth%>
  </p>
    <p>
      <%= render :partial => "item_bonis/boni_form", :locals=>{:item=>@weapon} %>
    </p>
  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', armors_path %>
